/* -----------------------------------font----------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600&display=swap");
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/* --------------------------------------styles for nav---------------- */
/* nav {
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
} */
.nav-container {
  height: 130px;
  /* width: 100%; */
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name-logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo {
  width: 86px;
  height: 40px;
}
.name-logo-container h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.anchors-parent {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}
.anchors-parent a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.anchors-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* --------------------------------Banner styles--------------------- */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 68px;
}
.banner-txt-container {
  background: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  display: flex;
  padding: 200px 200px;
  width: 901px;
  align-items: center;
  flex-direction: column;
}
.banner-title1 {
  color: #0b0223;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title2 {
  text-align: center;
  font-family: Work Sans;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-txt-container p {
  margin-bottom: 17px;
}
.btn-sign {
  display: inline-flex;
  border: none;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-go {
  display: inline-flex;
  border: none;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
}
.banner-img-container img {
  height: 700px;
  position: relative;
  right: 100px;
  width: 100%;
  margin-right: auto;
}

/* --------------------------know more ----------------- */
.know-more-container {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: space-around;
  align-items: center;
}
.know-more-img img {
  /* background: url("images/pngwing\ 4.png");
  background-repeat: no-repeat; */
  width: 600px;
  height: 489px;
}
.know-more-txt-container {
  align-items: center;
}
.we-are-gamer {
  font-size: 48px;
  text-align: right;
  font-weight: 700;
  margin-bottom: 24px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.know-more-des,
.purpose {
  width: 520px;
  text-align: right;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.know-more-btn {
  padding: 20px 40px;
  border: none;
  margin-left: 340px;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.unless {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
/* -----------------------------Online section ---------- */
.online-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.online-txt-heading {
  color: #0b0223;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-txt-des {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.online-img-container {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: auto;
  gap: 24px;
  text-align: left;
  background: #fdfbfb;
  padding: 30px;
}
.online-img-container img {
  width: 200px;
  height: 240px;
}

.online-img p {
  margin-top: 18px;
}

.online-img {
  position: relative;
  cursor: pointer;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-icon .watch-now {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
.watch-now {
  color: crimson;
  font-size: 20px;
  font-weight: 600;
}

.online-img:hover .play-icon {
  opacity: 1;
}
.image:hover {
  border: crimson solid;
  border-radius: 10px;
}
/* --------------------------play---------------------------- */
.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.play-img-container {
  display: flex;
}
.play-txt-heading1 {
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.no-download {
  color: #050111;
  font-family: Work Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-align: right;
}
.play-txt-des {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 353px;
}
.img-small {
  width: 270px;
  height: 300px;
  position: relative;
  top: 350px;
  right: -170px;
}
.img-big {
  width: 570px;
  height: 570px;
  flex-shrink: 0;
}
/* -----------------------------------play online-------------------- */
#play-container-online {
  flex-direction: row-reverse;
}
.play-img-container-online {
  display: flex;
}
.img-small-online {
  width: 270px;
  height: 300px;
  position: relative;
  top: 350px;
  right: 160px;
}
/* ------------------------------------------Icons------------------------------ */
.icons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-top: 120px;
  height: 300px;
  row-gap: 5px;
  gap: 14px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;

  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
#fourth-icon {
  position: relative;
  right: -140px;
  top: -70px;
}
/* .first-row-container {
  margin-top: 120px;

  grid-gap: 10px;
}
.second-row-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.icons-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 5px;
  width: 230px;
  height: 50px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  transition: border 0.3s ease, color 0.3s ease;
}
.icons-parent:hover {
  border: #ff42a5 solid;
}
.icons-parent:hover p {
  color: #ff42a5;
}
.icons-container p {
  color: #0b0223;
  font-size: 15px;
  font-weight: 400;
}
/* -----------------------------footer--------------------------------- */
.footer-container {
  height: 636px;
  background: #0b0223;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 40px;
  align-items: center;
  padding-top: 120px;
}
.footer-anchors-container {
  gap: 60px;
  display: flex;
  justify-content: space-around;
}
.footer-anchors-container a {
  text-decoration: none;
  color: white;
}
.footer-social-container {
  display: flex;
  gap: 40px;
}
.footer-social-container > i {
  width: 40px;
  height: 40px;
}
.footer-terms-container {
  display: flex;
  gap: 60px;
}
.footer-terms-container p {
  color: rgba(255, 255, 255, 0.6);
}
.footer-last {
  color: rgba(255, 255, 255, 0.6);
}
/* -----------------------Responsive for small----===============##########################------------- */
/* ---------------nav--------------- */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    height: 250px;
    box-shadow: none;
    margin: 103px 0px 75px 0px;
    gap: 40px;
  }
  .anchors-parent {
    flex-direction: column;
  }
  .name-logo-container {
    gap: 10px;
  }
  .logo {
    width: 42px;
    height: 40px;
  }
  .name-logo-container h3 {
    font-size: 1.5rem;
  }
  .anchors-parent {
    gap: 16px;
  }
  .anchors-parent a {
    font-size: 10px;
    font-weight: 500;
  }

  .anchors-container2 {
    gap: 12px;
    width: 200px;
  }
  /* ---------------------banner--------------- */
  .banner-container {
    flex-direction: column;
    margin-top: 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .banner-img-container {
    padding: 20px;
  }
  .banner-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img-container img {
    right: -10px;
    width: 300px;
    height: 356px;
    margin: auto;
  }
  .banner-txt-container {
    padding: 50px 70px;
    width: 200px;
    margin-top: 148px;
  }
  .banner-title1 {
    font-size: 15px;
    font-weight: 600;
  }
  .banner-title2 {
    font-size: 15px;
    font-weight: 800;
  }
  .banner-txt-container p {
    font-size: 10px;
  }
  .btn-sign,
  .btn-go {
    padding: 8px 15px;
    gap: 5px;
    font-size: 8px;
  }
  /* ------------------know more------------ */
  .know-more-container {
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .know-more-img img {
    width: 300px;
  }
  .know-more-txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .we-are-gamer {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  .know-more-des,
  .purpose {
    width: 260px;
    font-size: 9px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
  }
  .know-more-btn {
    padding: 10px 20px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 5px;
    margin-left: 0;
  }
  .unless {
    font-size: 16px;
    font-style: normal;
    line-height: 45px;
  }
  /* ---------------------online section ------------ */
  .online-container {
    margin-top: 250px;
  }
  .online-img-container {
    flex-direction: column;
    align-items: center;
  }
  .online-txt-heading,
  .funny {
    font-size: 24px;
  }
  .online-txt-des {
    font-size: 10px;
  }
  .online-img {
    margin: 5px;
  }

  .play-icon {
    font-size: 30px;
    top: 40%;
    left: 40%;
  }

  .play-icon .watch-now {
    font-size: 12px;
  }
  .online-img p {
    width: 240px;
  }
  /* ----------------------------------------play instantly---------------------- */
  .play-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .play-img-container {
    /* align-items: center; */
    margin-right: 100px;
  }

  .play-txt-heading1 {
    text-align: center;
    font-size: 20px;
    font-weight: 350;
    line-height: 30px;
  }
  .no-download {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }
  .play-txt-des {
    text-align: center;
    font-size: 10px;
    font-weight: 200;
    width: 200px;
    line-height: 20px;
  }
  .img-small {
    width: 135px;
    height: 150px;
    position: relative;
    top: 150px;
    right: -85px;
  }
  .img-big {
    width: 280px;
    height: 285px;
  }
  /* --------------------------------------------------play online------------------------ */
  #play-container-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-small-online {
    width: 135px;
    height: 150px;
    position: relative;
    top: 180px;
    right: 85px;
  }
  .play-img-container-online {
    margin-left: 100px;
  }
  /* -------------------------------------------icons-------------------------- */
  .icons-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .icons-parent {
    gap: 5px;
    padding: 10px;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    transition: border 0.3s ease, color 0.3s ease;
  }
  .icons-container p {
    color: #0b0223;
    font-size: 7px;
    font-weight: 200;
  }
  .icons-parent img {
    width: 40px;
    height: 40px;
  }
  /* ------------------------------footer--------------------------------------- */
  .footer-anchors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-social-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-terms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
